.greeting-container{
  background-color: #DDE;
  height: 100vh;
  width: 100vw;
}
.greeting-container-img{
  background-image: url("../img_folder/pexels-photo.jpg");
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  height: 100%;
  margin: 0px auto;
  width:100%;
}

.greeting-main{
  align-items: center;
  flex-direction: column;
  display: flex;
  height: 60%;
  justify-content: space-around;
  width: 100%;
}

.greeting-main-text, .greeting-main-subtext{
  animation: top 8s;
  animation-delay:0s;
  animation-fill-mode: forwards;
  font-family: 'Lobster',Georgia,serif;
  font-weight: 700;
  font-size: 4em;
  padding-left: 15px;
}
.greeting-main-text{
  color: #fff;
  text-shadow: 0.6px 0.4px 0.2px #000;
}

#greeting-line-animation-1, #greeting-line-animation-2{
  animation-delay:0s;
  animation-fill-mode: forwards;
  background-color: #00b7c7;
  /*display: block;*/
  position: absolute;;
  height: 3px;
  /*margin: 20px 0;*/
  width: 200px;
}

#greeting-line-animation-1{
  animation: line1 2s;
  top:190px;

}

#greeting-line-animation-2{
  animation: line2 2s;
  top:390px;

}

.greeting-main-subtext{
  color: #000;
  text-shadow: 0.1px 0.4px 0.2px #fff;
}


@keyframes line1 {
    0%   {
      top:-200px;

         }


    100% {
      top:190px;
    }
}

@keyframes line2 {
    0%   {
      top:-200px;

         }


    100% {
      top:390px;
    }
}




@keyframes top {
    0%   {
          position: relative;
          opacity: 0;
          height: 0em;

         }


    100% {
          height: 30em;
          opacity: 1;
    }
}
