@import url('header.css');
@import url('greeting_container.css');
@import url('initial_summary.css');
@import url('skills.css');
@import url('side_nav_bar.css');
@import url('projects.css');
@import url('contact.css');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body{
  width: 100vw;
  line-height: 1.6;
  background: #1b1b1b;
}
