@import url('header.css');
@import url('greeting_container.css');
@import url('initial_summary.css');
@import url('skills.css');
@import url('side_nav_bar.css');

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
